<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zlisproduction.finistonassiette" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="zlisproduction.finistonassiette.selectionaliments.Cereale"
            android:label="@string/app_name"/>

        <activity android:name="zlisproduction.finistonassiette.selectionaliments.Farine"
            android:label="@string/app_name"/>

        <activity android:name="zlisproduction.finistonassiette.selectionaliments.Fruit"
            android:label="@string/app_name"/>

        <activity android:name="zlisproduction.finistonassiette.selectionaliments.FruitLegume"
            android:label="@string/app_name"/>

        <activity android:name="zlisproduction.finistonassiette.selectionaliments.Incontournable"
            android:label="@string/app_name"/>

        <activity android:name="zlisproduction.finistonassiette.selectionaliments.Legume"
            android:label="@string/app_name"/>

        <activity android:name="zlisproduction.finistonassiette.selectionaliments.MenuPrincipal"
            android:label="@string/app_name"/>

        <activity android:name="zlisproduction.finistonassiette.selectionaliments.Poisson"
            android:label="@string/app_name"/>

        <activity android:name="zlisproduction.finistonassiette.selectionaliments.ProduitLaitier"
            android:label="@string/app_name"/>

        <activity android:name="zlisproduction.finistonassiette.selectionaliments.Viande"
            android:label="@string/app_name"/>

        <activity android:name="zlisproduction.finistonassiette.selectionaliments.ViandePoisson"
            android:label="@string/app_name"/>
    </application>


</manifest>
